.calculator {
  width: 100vw;
  height: 100vh;

  overflow: hidden;

  display: grid;
  grid-template-columns: 1fr max(15em, 20vw);
  grid-template-rows: 30vh 3rem 1fr;
}

.calculator_output {
  grid-column: 1;
  grid-row: 1;

  height: 4em;
  padding: 1em;

  display: grid;
  justify-content: right;
}

.equation_out {
  justify-self: right;
  font-size: 12px;
}

.current_out {
  justify-self: right;
  font-size: 32px;
}

.calculator_buttons {
  grid-column: 1;
  grid-row: 3;

  height: 60vh;
  margin: 2px;
  margin-bottom: 1vh;
  

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2px;
}

.number_button {
  background-color: #383838;
}

.number_button:hover {
  background-color: #232323;
}

.function_button {
  background-color: #232323;
}

.function_button:hover {
  background-color: #383838;
}

.execute_button {
  background-color: #6060c6;
}

.execute_button:hover {
  background-color: #494996;
}

.aside {
  grid-column: 2;
  grid-row: 1 / 3;
}

.history_select {
  padding-bottom: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom:#383838 solid 4px;
}

.history_select:hover {
  background-color: #383838;
}

.memory_button {
  background-color: transparent;
}

.memory_button:hover {
  background-color: #232323;
}

.memory_button.disabled {
  background-color: transparent;
  color: #6f6f6f;
}

.memory_button.disabled:hover {
  background-color: transparent;
}

.memory_select {
  padding-bottom: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom:#383838 solid 4px;
}

.memory_select:hover {
  background-color: #383838;
}

.aside_selected {
  border-bottom: #6060c6 solid 4px;
}

@keyframes newItem {
  0% {
    opacity: 0;
    height: 0;
  }
  40%{height: 4.31em;}
  100% {opacity: 1;}
}

.aside_list{
  padding: 0;
  margin: 0;
  margin-top: 4px;
  height: calc(100vh - 3em);
  overflow-y: auto;
  overflow-x: hidden;
}


.aside_list_item{
  list-style-type: none;

  animation: newItem 2s;
}

.aside_list_item_button{
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;

  background-color: transparent;
  width: fill;
  height: 3em;
  text-align: end;
}

.aside_list_item_button:hover {
  background-color: #232323;

}

.memory_sub_buttons {
  display:inline
}

.memory_sub_buttons button{
  background-color: transparent;
  font-size: smaller;
}

.memory_sub_buttons button:hover {
  background-color: #383838;
}





